*{
    margin:0;
    padding:0;
    list-style: none;
}
header{
    width: 100%;
    height: 1rem;
    background: #6984ff;
    font-size: 0.4rem;
    color: rgba(53, 36, 46, 0.61);
    display: flex;
    line-height: 1rem;
    border-bottom:0.1rem solid #999;
}
header a{
    color: rgba(53, 36, 46, 0.61);
    text-decoration: none;
}
.left{
    margin-left: 0.3rem;
}
.right{
    margin-left: 5.2rem;
}
form{
    width: 100%;
    padding: 0.1rem 0.1rem 0;
    box-sizing: border-box;
}
.div{
    margin-top: 0.1rem;
    height:2rem;
}
label{
    font-size: 0.4rem;
    color: #333333;
}
input{
    width: 100%;
    height: 0.5rem;
    border: none;
    border-bottom: 0.01rem solid #aeaeae;
    margin-top: 0.1rem;
}
textarea{
    width: 100%;
    border: 0.01rem solid #aeaeae;
    height: 3rem;
    margin-top: 0.05rem;
    resize: none;
    border-radius: 0.05rem;
}
.btn{
    height:1rem;
    border-radius: 0.1rem;
    border: 0.01rem solid gray;
    background: #6984ff;
    color: #000;
    font-size: 0.4rem;
    line-height: 1rem;
    text-align: center;
}
.null{
    width: 96%;
    height: 0.04rem;
    background: rgba(114, 20, 28, 0.17);
    margin:0.3rem auto 0;
}
footer{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    position: relative;
}
footer p{
    font-size: 0.24rem;
    padding-left:0.3rem;
}
footer p:first-child{
    margin-top:0.3rem;
}
footer p span{
    color:cornflowerblue;
}
.top{
    width: 0.5rem;
    height: 0.5rem;
    border:0.03rem solid #00b3ff;
    background: #fefefe;
    font-size: 0.3rem;
    line-height: 0.5rem;
    text-align: center;
    border-radius: 0.15rem;
    position: absolute;
    right:0.5rem;
    top:0.75rem;
}
